.navegacion{
    display: grid;
    position: sticky;
    top: 0;
    height: 100vh;
    text-align: start;
    border-right: 1px solid #1D1D1C;
}
.navegacionContainer{
    display: grid;
    align-items: center;
    width: 90%;
    margin: 35px auto;
    top: 0;
    gap: 25px;
}
.navegacion nav{
    display: flex;
    flex-direction: column;
    gap: 5px
}
.logoLetra{
    margin-bottom: 13px;
}
.ig-letra{
    margin-left: 15px;
}
.opcionNav{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}
.opcionNav:hover{
    background-color: #1A1A1B;
}
.opcionItem:first-child img{
    border-radius: 50%;
    width: 30px;
}
.isActive .opcionItem:first-child img{
    border: 2px solid #fff;
}
.iconoOpcionActive{
    display: none;
}
.isActive .iconoOpcionDisabled{
    display: none;
}
.isActive .iconoOpcionActive{
    display: block;
}
.opcionNav:hover svg, .opcionNav:hover img{
    scale: 1.1;
}
.logoResponsive{
    display: none;
    margin-bottom: 13px;
    transform: translateX(16px);
}
.navegacionResponsiva{
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    position: fixed ;
    bottom: 0;
    display: none;
    border-top: 1.5px solid #1D1D1C;
}
.navegacionResponsiva ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header{
    display: none;
    width: 100%;
    position:sticky;
    top: 0;
    background-color: #010000;
    z-index: 100;
    border-bottom: 2.5px solid #373637;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 5px;
}
.contenidoHeader{
    display: flex;
    align-items: center;
}
.contenidoHeader input{
    height: 32px;
    background-color: #272627;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
}
@media (width <= 1264px){
    .navegacion{
        justify-content: center;
    }
    .navegacionContainer{
        margin: 23px auto;
    }
    .opcionNav .txtOpcion{
        display: none;
    }
    .logoLetra{
        display: none;
    }
    .logoResponsive{
        display: block;
    }
}
@media(width < 767px){
    .navegacion{
        display: none;
    }
    .navegacionResponsiva{
        display: block;
        background-color: #010000;
    }
    .header{
        display: block;
    }
}
@media(width <= 400px){
    .headerContainer{
        justify-content: center;
    }
    .contenidoHeader{
        gap: 23px;
        justify-content: space-between;
    }
    .contenidoHeader input{
        padding: 20px 20px;
    }
    .headerContainer .imgHeader{
        display: none;
    }
}