.principal{
    display: grid;
    grid-template-columns: 1fr 32%;
    overflow: hidden;
}
.contenidoPrincipal{
    overflow: hidden;
}
.espacio{
    display: none;
}
@media(width < 1160px){
    .principal{
        grid-template-columns: 1fr;
    }
}
@media(width < 767px){
    .espacio{
        display: block;
    }
}